<div class="bg-white p-4 md:p-6 rounded-lg shadow-md md:w-[50%] mt-3">
  <h1 class="text-3xl md:text-4xl font-semibold mb-3 md:mb-5">Welcome To Recipe Page</h1>

  <div class="mb-3 md:mb-6">
    <%= link_to new_recipe_path,
      class: "px-3 md:px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white font-medium rounded-lg cursor-pointer" do %>
      Add
      <% end %>
  </div>

  <div class="recipe-container mt-3 md:mt-5">
    <% @recipes.each do |recipe| %>
      <div
        class="recipe bg-gray-100 p-3 md:p-4 rounded-lg mb-3 md:mb-4 flex flex-col md:flex-row justify-between items-center">
        <%= link_to recipe_path(recipe), class: "info" do %>
          <h2 class="text-xl md:text-2xl font-medium mb-2 md:mb-0">
            <%= recipe.name %>
          </h2>
          <p class="text-gray-600 text-sm md:text-lg">Description: <span class="text-xs md:text-sm">
              <%= recipe.description %>
            </span>
          </p>
          <% end %>
          <% if can? :destroy, recipe %>
            <%= form_with model: recipe, url: recipe_path(recipe), method: :delete, class: "mt-3 md:mt-0" do |form| %>
              <%= form.submit "Remove" ,
                class: "px-3 md:px-4 py-1 bg-red-500 hover:bg-red-600 text-white font-medium rounded-lg cursor-pointer"
                %>
                <% end %>
                <% end %>
      </div>
      <% end %>
  </div>
</div>