<section class='shopping-list'>
    <h1>Shopping List</h1>
    <div class='sl-description'>
        <div class='sl-d-label'>
            <h3>Amount of food to buy: <%=@amount %> </h3>
            <h3>Recipe: <%=@recipe.name %> </h3>
        </div>
        <div class='sl-d-label'>
        <h3>Total value of food needed: $<%= @total_price%> </h3>
        <h3>Inventory: <%=@inventory.name %> </h3>
        </div>
    </div>
    <table class='sl-table'>
        <tr>
            <th>Food</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr> 
        <% @shop_list.each do |item| %>
            <tr>
              <td><%= item[:name] %></td>
              <td><%= item[:quantity] %> <%= item[:measurement_unit] %></td>
              <td>$<%= item[:shop_price] %></td>
            </tr>
        <% end %>
  </table>
</section>